<f:if condition="{categories}">
    <div class="femanager_fieldset femanager_categories form-group">
        <div class="my-2">
            <f:translate key="label.categories" extensionName="FemanagerMailSubscribe"/>
        </div>
        <f:for each="{categories}" as="category">
            <div class="form-check">
                <f:form.checkbox
                    class="form-check-input"
                    id="femanager_field_category_{category.uid}"
                    property="categories"
                    multiple="true"
                    value="{category.uid}"/>
                <label class="form-check-label" for="femanager_field_category_{category.uid}">
                    {category.title}
                </label>
            </div>
        </f:for>
    </div>
</f:if>
