<div class="femanager_fieldset femanager_mailHtml form-group control-group">
    <f:form.checkbox
        class="form-check-input"
        id="femanager_field_mailHtml"
        property="mailHtml"
        value="1"
        checked="{user.mailHtml} == 0"/>
    <label for="femanager_field_mailHtml" class="form-check-label">
        <f:translate key="label.mailHtml" extensionName="FemanagerMailSubscribe" />
    </label>
</div>
