<div class="femanager_fieldset femanager_mailActive form-group form-check">
    <f:form.checkbox
        class="form-check-input"
        id="femanager_field_mailActive"
        property="mailActive"
        value="1"
        checked="{user.mailActive} == 0"/>
    <label for="femanager_field_mailActive" class="form-check-label">
        <f:translate key="label.mailActive" extensionName="FemanagerMailSubscribe" />
    </label>
</div>
